@use "mozek-angular/src/styles" as moz;

body, html {
    font-family: "Google Sans", sans-serif;
    color: black;
    background-color: #ffdde6;

    img {
        user-select: none;
        pointer-events: none;
        -webkit-user-drag: none;
    }
}